:host{

  .disabled-label.disabled-blue{
    color: #266791 !important;
  }

  .disabled-label {
    color: #C5C5C5 !important;
  }

  .form-control::placeholder {
    color: #C5C5C5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  /* Styles for the default state */
  .form-control {
    color: #323232;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  /* Styles for the hover state */
  .form-control:hover {
    /* Styles for the hover state here */
    border: 1px solid #f1416c;
  }

  /* Styles for the disabled state */
  .form-control:disabled:hover {
    /* Styles for the disabled state here */
    border: 1px solid var(--nv-input-border, #E5E5E5) !important;
  }


  /* Styles for the pressed state */
  .form-control:active {
    /* Styles for the pressed state here */
    border: 1px solid #f1416c;
  }

  /* Styles for the typing state */
  .form-control:focus {
    /* Styles for the typing state here */
    border: 1px solid #f1416c;
  }

  /* Styles for the filled state */
  .form-control:not([value=""]) {
    /* Styles for the filled state here */
  }

  /* Styles for the incomplete state */
  .form-control.invalid-input {
    /* Styles for the incomplete state here */
  }

  /* Styles for the success state */
  .form-control.success-input {
    /* Styles for the success state here */
  }

  /* Styles for the disabled state */
  .form-control:disabled {
    /* Styles for the disabled state here */
    border: 1px solid var(--nv-input-border, #E5E5E5);
    color: #C5C5C5;
    background-color:#FFFFFF;

    :hover {
      border: 1px solid var(--nv-input-border, #E5E5E5);
    }
  }

  .form-control:not(.is-invalid):focus {
    border-color: #266791 !important;
  }

  .form-control:not(.is-invalid):hover {
    border-color: #266791;
  }
}
