:host {
  .p-top-5px{
    padding-top: 10px !important;
  }
  .min-h-50px{
    min-height: 50px !important;
  }
  .card-header {
    padding: 0 !important;
    margin-bottom: 20px;

    .tabs-container {
      padding: 45px 20px 20px;
      margin-left: 11px;
    }
  }
}
