<div class="row">

  <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
    <div class="dataTables_length" id="kt_customers_table_length">
      <!-- <label>
        Showing {{ showingItems }} of {{ amountItems }} entries
      </label> -->
      <app-select [formControl]="elementControl" [options]="amountOfElements"></app-select>
    </div>
  </div>

  <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
    <div class="dataTables_paginate paging_simple_numbers" id="kt_customers_table_paginate">

      <ul class="pagination">

        <ng-container *ngIf="activePage !== 1">
          <li (click)="firstPage()" class="paginate_button page-item first-page arrow-line-block"
            id="kt_customers_table_next">
            <a aria-controls="kt_customers_table" data-dt-idx="5" tabindex="0" class="page-link last-page-link">
              <span class="arrow-line" [inlineSVG]="'assets/media/icons/duotune/general/last_page.svg'"></span>
            </a>
          </li>

          <li (click)="previous()" class="paginate_button page-item previous" id="kt_customers_table_previous">
            <a aria-controls="kt_customers_table" data-dt-idx="0" tabindex="0" class="page-link">
              <i class="previous"></i>
            </a>
          </li>

          <li class="next-text prev-text d-flex align-items-center">
            <span>{{ "tables.prev" | translate }}</span>
          </li>
        </ng-container>


        <li *ngFor="let option of pages" class="paginate_button page-item" [class.active]="option === activePage"
          (click)="changePage(option)">
          <a aria-controls="kt_customers_table" [data-dt-idx]="option" tabindex="0" class="page-link page-number">
            {{ option }}
          </a>
        </li>

        <ng-container *ngIf="activePage !== maxPage">
          <li class="next-text next-text-block d-flex align-items-center">
            <span>{{ "tables.next" | translate }}</span>
          </li>

          <li (click)="next()" class="paginate_button page-item next" id="kt_customers_table_next">
            <a aria-controls="kt_customers_table" data-dt-idx="5" tabindex="0" class="page-link next-link">
              <i class="next">
              </i>
            </a>
          </li>

          <li (click)="lastPage()" class="paginate_button page-item last-page arrow-line-block"
            id="kt_customers_table_next">
            <a aria-controls="kt_customers_table" data-dt-idx="5" tabindex="0" class="page-link last-page-link">
              <span class="arrow-line" [inlineSVG]="'assets/media/icons/duotune/general/last_page.svg'"></span>
            </a>
          </li>
        </ng-container>
      </ul>

    </div>
  </div>
</div>