<span class="fw-bold" [ngClass]="{'px-0 label': true, 'disabled-label': disabled, 'disabled-blue': useBlackFont}" [class.xSmall]="size === 'xSmall'">{{ label | translate }}</span>
<div class="form-input-login mt-0 mb-0" [class.px-0]="size === 'xSmall'">
  <span class="menu-icon-input-right opacity-50 {{ toggleClasses }}">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  </span>
  <input [(ngModel)]="value" [placeholder]="placeholder || 'DD/MM/YYYY'" (click)="picker.open()" (dateChange)="newDateValue($event)" [disabled]="disabled"
    class="form-control mb-2 {{ inputClasses }} {{ bgClasses }}" type="text" name="email" matInput [matDatepicker]="picker" />
  <mat-datepicker #picker></mat-datepicker>
</div>
