:host {
  app-button {
    display: block;
    height: 35px;

    ::ng-deep {
      a {
        height: 35px;
        width: 118px;
        display: flex;
        padding: 8px 15px;
        align-items: center;
        justify-content: space-between;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 17px;
        white-space: nowrap;

        .svg-icon-white {
          padding-left: 5px;
        }
      }
    }
  }
  .mat-mdc-menu-item{
    padding-left: 8px;
    padding-right: 8px;
  }
  .mat-mdc-menu-item-last{
    padding-right: 0 !important;
  }
}

::ng-deep .export-menu {
  .mat-mdc-menu-content {
    padding: 0;

    .mat-mdc-menu-item:hover,
    .mat-mdc-menu-item-highlighted {
      background-color: #E7F5FF;
    }

    .option {
      padding: 0 10px;

      .mat-mdc-menu-submenu-icon {
        display: none;
      }

      .mdc-list-item__primary-text {
        width: 100%;
        display: flex;
        justify-content: space-between !important;

        .label {
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          color: #323232;
        }
      }
    }
  }
}
