:host {
  .tab-first {
    border-radius: 5px 0px 0px 5px;
  }

  .tab-last {
    border-radius: 0px 5px 5px 0px;
  }

  .nav-custom {
    height: 40%;
  }

  .freight-type-bg {
    background-color: #E7F5FF;
  }

  .span-title {
    background-color: #3F9AD5;
    color: #FFFFFF;
  }
}