<!--<div class="tag-container">-->
<!--  <div class="tag" *ngFor="let tag of tags">-->
<!--    <span>{{ tag }}</span>-->
<!--    <button mat-icon-button (click)="removeTag(tag)">-->
<!--      <mat-icon>cancel</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--  <input class="tag-input" type="text" placeholder="Agregar etiqueta" (keydown.enter)="addTag($event)">-->
<!--</div>-->

<span *ngIf="label" class="label px-0">{{ label | translate }}</span>
<div class="tag-input-container">
  <div class="tags-container d-flex flex-wrap align-items-center h-100" [ngClass]="{'pt-0': tags.length === 0}">
    <div class="tag gap-1 py-3 px-2 mb-0" *ngFor="let tag of tags; let i = index">
      {{ tag }}
      <button class="tag-remove p-0 m-0" (click)="removeTag(i)"><span class="menu-icon">
        <span class="btn-label"
              [inlineSVG]="'./assets/media/icons/duotune/general/close_tag.svg'"></span></span>
      </button>
    </div>
    <span *ngIf="tags" class="p-0 m-0 text-white">l</span>
    <input
      #tagInput
      class="tag-input"
      [(ngModel)]="newTag"
      (keydown.enter)="addTag()"
      placeholder="Add references"
    />
  </div>
</div>
