<span *ngIf="label" class="fw-bold" [ngClass]="{'px-0 label': true, 'disabled-label': disabled, 'disabled-blue': useBlackFont}">{{ label | translate }}</span>
<select [disabled]="disabled" (change)="selectNewValue($event.target.value)"
        class="form-select input-select form-select-sm form-select-solid {{ classes }}"
        data-control="select2" data-placeholder="Latest" data-hide-search="true">
  <option *ngIf="placeholder !== null" selected disabled>{{ (placeholder || 'buttons.select') | translate }}</option>
  <option *ngFor="let option of options" class="form-select-options" id="select-options" name="select-options"
          [value]="option.id" [selected]="option.id == optionSelected">{{ option.value | translate }}</option>
</select>

