<ul class="icons">
  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-add"></i>
      <span class="label mono">fi-rs-add</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-alarm-clock"></i>
      <span class="label mono">fi-rs-alarm-clock</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-align-center"></i>
      <span class="label mono">fi-rs-align-center</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-align-justify"></i>
      <span class="label mono">fi-rs-align-justify</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-align-left"></i>
      <span class="label mono">fi-rs-align-left</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-align-right"></i>
      <span class="label mono">fi-rs-align-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-ambulance"></i>
      <span class="label mono">fi-rs-ambulance</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-double-left"></i>
      <span class="label mono">fi-rs-angle-double-left</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-double-right"></i>
      <span class="label mono">fi-rs-angle-double-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-double-small-left"></i>
      <span class="label mono">fi-rs-angle-double-small-left</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-double-small-right"></i>
      <span class="label mono">fi-rs-angle-double-small-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-down"></i>
      <span class="label mono">fi-rs-angle-down</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-left"></i>
      <span class="label mono">fi-rs-angle-left</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-right"></i>
      <span class="label mono">fi-rs-angle-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-small-down"></i>
      <span class="label mono">fi-rs-angle-small-down</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-small-left"></i>
      <span class="label mono">fi-rs-angle-small-left</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-small-right"></i>
      <span class="label mono">fi-rs-angle-small-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-small-up"></i>
      <span class="label mono">fi-rs-angle-small-up</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-angle-up"></i>
      <span class="label mono">fi-rs-angle-up</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-apps-add"></i>
      <span class="label mono">fi-rs-apps-add</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-apps-delete"></i>
      <span class="label mono">fi-rs-apps-delete</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-apps-sort"></i>
      <span class="label mono">fi-rs-apps-sort</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-apps"></i>
      <span class="label mono">fi-rs-apps</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-archive"></i>
      <span class="label mono">fi-rs-archive</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-arrow-down"></i>
      <span class="label mono">fi-rs-arrow-down</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-arrow-left"></i>
      <span class="label mono">fi-rs-arrow-left</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-arrow-right"></i>
      <span class="label mono">fi-rs-arrow-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-arrow-small-down"></i>
      <span class="label mono">fi-rs-arrow-small-down</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-arrow-small-left"></i>
      <span class="label mono">fi-rs-arrow-small-left</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-arrow-small-right"></i>
      <span class="label mono">fi-rs-arrow-small-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-arrow-small-up"></i>
      <span class="label mono">fi-rs-arrow-small-up</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-arrow-up"></i>
      <span class="label mono">fi-rs-arrow-up</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-asterisk"></i>
      <span class="label mono">fi-rs-asterisk</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-backpack"></i>
      <span class="label mono">fi-rs-backpack</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-badge"></i>
      <span class="label mono">fi-rs-badge</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-ban"></i>
      <span class="label mono">fi-rs-ban</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-band-aid"></i>
      <span class="label mono">fi-rs-band-aid</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-bank"></i>
      <span class="label mono">fi-rs-bank</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-barber-shop"></i>
      <span class="label mono">fi-rs-barber-shop</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-baseball"></i>
      <span class="label mono">fi-rs-baseball</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-basketball"></i>
      <span class="label mono">fi-rs-basketball</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-bell-ring"></i>
      <span class="label mono">fi-rs-bell-ring</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-bell-school"></i>
      <span class="label mono">fi-rs-bell-school</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-bell"></i>
      <span class="label mono">fi-rs-bell</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-billiard"></i>
      <span class="label mono">fi-rs-billiard</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-bold"></i>
      <span class="label mono">fi-rs-bold</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-book-alt"></i>
      <span class="label mono">fi-rs-book-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-book"></i>
      <span class="label mono">fi-rs-book</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-bookmark"></i>
      <span class="label mono">fi-rs-bookmark</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-bowling"></i>
      <span class="label mono">fi-rs-bowling</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-box-alt"></i>
      <span class="label mono">fi-rs-box-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-box"></i>
      <span class="label mono">fi-rs-box</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-briefcase"></i>
      <span class="label mono">fi-rs-briefcase</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-broom"></i>
      <span class="label mono">fi-rs-broom</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-browser"></i>
      <span class="label mono">fi-rs-browser</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-brush"></i>
      <span class="label mono">fi-rs-brush</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-bug"></i>
      <span class="label mono">fi-rs-bug</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-building"></i>
      <span class="label mono">fi-rs-building</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-bulb"></i>
      <span class="label mono">fi-rs-bulb</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-calculator"></i>
      <span class="label mono">fi-rs-calculator</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-calendar"></i>
      <span class="label mono">fi-rs-calendar</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-camera"></i>
      <span class="label mono">fi-rs-camera</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-caret-down"></i>
      <span class="label mono">fi-rs-caret-down</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-caret-left"></i>
      <span class="label mono">fi-rs-caret-left</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-caret-right"></i>
      <span class="label mono">fi-rs-caret-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-caret-up"></i>
      <span class="label mono">fi-rs-caret-up</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-check"></i>
      <span class="label mono">fi-rs-check</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-checkbox"></i>
      <span class="label mono">fi-rs-checkbox</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-chess"></i>
      <span class="label mono">fi-rs-chess</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-circle-small"></i>
      <span class="label mono">fi-rs-circle-small</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-circle"></i>
      <span class="label mono">fi-rs-circle</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-clip"></i>
      <span class="label mono">fi-rs-clip</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-clock"></i>
      <span class="label mono">fi-rs-clock</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cloud-check"></i>
      <span class="label mono">fi-rs-cloud-check</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cloud-disabled"></i>
      <span class="label mono">fi-rs-cloud-disabled</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cloud-download"></i>
      <span class="label mono">fi-rs-cloud-download</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cloud-share"></i>
      <span class="label mono">fi-rs-cloud-share</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cloud-upload"></i>
      <span class="label mono">fi-rs-cloud-upload</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cloud"></i>
      <span class="label mono">fi-rs-cloud</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-comment-alt"></i>
      <span class="label mono">fi-rs-comment-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-comment"></i>
      <span class="label mono">fi-rs-comment</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-compress-alt"></i>
      <span class="label mono">fi-rs-compress-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-compress"></i>
      <span class="label mono">fi-rs-compress</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-computer"></i>
      <span class="label mono">fi-rs-computer</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cookie"></i>
      <span class="label mono">fi-rs-cookie</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-copy-alt"></i>
      <span class="label mono">fi-rs-copy-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-copy"></i>
      <span class="label mono">fi-rs-copy</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-copyright"></i>
      <span class="label mono">fi-rs-copyright</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cream"></i>
      <span class="label mono">fi-rs-cream</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-credit-card"></i>
      <span class="label mono">fi-rs-credit-card</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cross-circle"></i>
      <span class="label mono">fi-rs-cross-circle</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cross-small"></i>
      <span class="label mono">fi-rs-cross-small</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cross"></i>
      <span class="label mono">fi-rs-cross</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-crown"></i>
      <span class="label mono">fi-rs-crown</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cursor-finger"></i>
      <span class="label mono">fi-rs-cursor-finger</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cursor-plus"></i>
      <span class="label mono">fi-rs-cursor-plus</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cursor-text-alt"></i>
      <span class="label mono">fi-rs-cursor-text-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cursor-text"></i>
      <span class="label mono">fi-rs-cursor-text</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-cursor"></i>
      <span class="label mono">fi-rs-cursor</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-dart"></i>
      <span class="label mono">fi-rs-dart</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-dashboard"></i>
      <span class="label mono">fi-rs-dashboard</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-data-transfer"></i>
      <span class="label mono">fi-rs-data-transfer</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-database"></i>
      <span class="label mono">fi-rs-database</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-delete"></i>
      <span class="label mono">fi-rs-delete</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-diamond"></i>
      <span class="label mono">fi-rs-diamond</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-dice"></i>
      <span class="label mono">fi-rs-dice</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-diploma"></i>
      <span class="label mono">fi-rs-diploma</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-disk"></i>
      <span class="label mono">fi-rs-disk</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-doctor"></i>
      <span class="label mono">fi-rs-doctor</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-document-signed"></i>
      <span class="label mono">fi-rs-document-signed</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-document"></i>
      <span class="label mono">fi-rs-document</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-dollar"></i>
      <span class="label mono">fi-rs-dollar</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-download"></i>
      <span class="label mono">fi-rs-download</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-duplicate"></i>
      <span class="label mono">fi-rs-duplicate</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-e-learning"></i>
      <span class="label mono">fi-rs-e-learning</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-earnings"></i>
      <span class="label mono">fi-rs-earnings</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-edit-alt"></i>
      <span class="label mono">fi-rs-edit-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-edit"></i>
      <span class="label mono">fi-rs-edit</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-envelope"></i>
      <span class="label mono">fi-rs-envelope</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-euro"></i>
      <span class="label mono">fi-rs-euro</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-exclamation"></i>
      <span class="label mono">fi-rs-exclamation</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-expand"></i>
      <span class="label mono">fi-rs-expand</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-eye-crossed"></i>
      <span class="label mono">fi-rs-eye-crossed</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-eye-dropper"></i>
      <span class="label mono">fi-rs-eye-dropper</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-eye"></i>
      <span class="label mono">fi-rs-eye</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-feather"></i>
      <span class="label mono">fi-rs-feather</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-file-add"></i>
      <span class="label mono">fi-rs-file-add</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-file-ai"></i>
      <span class="label mono">fi-rs-file-ai</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-file-check"></i>
      <span class="label mono">fi-rs-file-check</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-file-delete"></i>
      <span class="label mono">fi-rs-file-delete</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-file-eps"></i>
      <span class="label mono">fi-rs-file-eps</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-file-gif"></i>
      <span class="label mono">fi-rs-file-gif</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-file-music"></i>
      <span class="label mono">fi-rs-file-music</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-file-psd"></i>
      <span class="label mono">fi-rs-file-psd</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-file"></i>
      <span class="label mono">fi-rs-file</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-fill"></i>
      <span class="label mono">fi-rs-fill</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-film"></i>
      <span class="label mono">fi-rs-film</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-filter"></i>
      <span class="label mono">fi-rs-filter</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-fingerprint"></i>
      <span class="label mono">fi-rs-fingerprint</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-flag"></i>
      <span class="label mono">fi-rs-flag</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-flame"></i>
      <span class="label mono">fi-rs-flame</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-flip-horizontal"></i>
      <span class="label mono">fi-rs-flip-horizontal</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-folder-add"></i>
      <span class="label mono">fi-rs-folder-add</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-folder"></i>
      <span class="label mono">fi-rs-folder</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-following"></i>
      <span class="label mono">fi-rs-following</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-football"></i>
      <span class="label mono">fi-rs-football</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-form"></i>
      <span class="label mono">fi-rs-form</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-forward"></i>
      <span class="label mono">fi-rs-forward</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-ftp"></i>
      <span class="label mono">fi-rs-ftp</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-gallery"></i>
      <span class="label mono">fi-rs-gallery</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-glasses"></i>
      <span class="label mono">fi-rs-glasses</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-globe-alt"></i>
      <span class="label mono">fi-rs-globe-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-globe"></i>
      <span class="label mono">fi-rs-globe</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-golf"></i>
      <span class="label mono">fi-rs-golf</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-graduation-cap"></i>
      <span class="label mono">fi-rs-graduation-cap</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-graphic-tablet"></i>
      <span class="label mono">fi-rs-graphic-tablet</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-grid-alt"></i>
      <span class="label mono">fi-rs-grid-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-grid"></i>
      <span class="label mono">fi-rs-grid</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-gym"></i>
      <span class="label mono">fi-rs-gym</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-headphones"></i>
      <span class="label mono">fi-rs-headphones</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-headset"></i>
      <span class="label mono">fi-rs-headset</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-heart"></i>
      <span class="label mono">fi-rs-heart</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-home"></i>
      <span class="label mono">fi-rs-home</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-hourglass-end"></i>
      <span class="label mono">fi-rs-hourglass-end</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-hourglass"></i>
      <span class="label mono">fi-rs-hourglass</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-ice-skate"></i>
      <span class="label mono">fi-rs-ice-skate</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-id-badge"></i>
      <span class="label mono">fi-rs-id-badge</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-inbox"></i>
      <span class="label mono">fi-rs-inbox</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-incognito"></i>
      <span class="label mono">fi-rs-incognito</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-indent"></i>
      <span class="label mono">fi-rs-indent</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-infinity"></i>
      <span class="label mono">fi-rs-infinity</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-info"></i>
      <span class="label mono">fi-rs-info</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-interactive"></i>
      <span class="label mono">fi-rs-interactive</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-interlining"></i>
      <span class="label mono">fi-rs-interlining</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-interrogation"></i>
      <span class="label mono">fi-rs-interrogation</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-italic"></i>
      <span class="label mono">fi-rs-italic</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-jpg"></i>
      <span class="label mono">fi-rs-jpg</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-key"></i>
      <span class="label mono">fi-rs-key</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-keyboard"></i>
      <span class="label mono">fi-rs-keyboard</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-label"></i>
      <span class="label mono">fi-rs-label</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-laptop"></i>
      <span class="label mono">fi-rs-laptop</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-lasso"></i>
      <span class="label mono">fi-rs-lasso</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-layers"></i>
      <span class="label mono">fi-rs-layers</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-layout-fluid"></i>
      <span class="label mono">fi-rs-layout-fluid</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-letter-case"></i>
      <span class="label mono">fi-rs-letter-case</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-life-ring"></i>
      <span class="label mono">fi-rs-life-ring</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-line-width"></i>
      <span class="label mono">fi-rs-line-width</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-link"></i>
      <span class="label mono">fi-rs-link</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-lipstick"></i>
      <span class="label mono">fi-rs-lipstick</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-list-check"></i>
      <span class="label mono">fi-rs-list-check</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-list"></i>
      <span class="label mono">fi-rs-list</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-location-alt"></i>
      <span class="label mono">fi-rs-location-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-lock-alt"></i>
      <span class="label mono">fi-rs-lock-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-lock"></i>
      <span class="label mono">fi-rs-lock</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-magic-wand"></i>
      <span class="label mono">fi-rs-magic-wand</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-makeup-brush"></i>
      <span class="label mono">fi-rs-makeup-brush</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-marker-time"></i>
      <span class="label mono">fi-rs-marker-time</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-marker"></i>
      <span class="label mono">fi-rs-marker</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-medicine"></i>
      <span class="label mono">fi-rs-medicine</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-megaphone"></i>
      <span class="label mono">fi-rs-megaphone</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-menu-burger"></i>
      <span class="label mono">fi-rs-menu-burger</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-menu-dots-vertical"></i>
      <span class="label mono">fi-rs-menu-dots-vertical</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-menu-dots"></i>
      <span class="label mono">fi-rs-menu-dots</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-microphone"></i>
      <span class="label mono">fi-rs-microphone</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-minus-small"></i>
      <span class="label mono">fi-rs-minus-small</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-minus"></i>
      <span class="label mono">fi-rs-minus</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-mobile"></i>
      <span class="label mono">fi-rs-mobile</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-mode-landscape"></i>
      <span class="label mono">fi-rs-mode-landscape</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-mode-portrait"></i>
      <span class="label mono">fi-rs-mode-portrait</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-money"></i>
      <span class="label mono">fi-rs-money</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-mouse"></i>
      <span class="label mono">fi-rs-mouse</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-music-alt"></i>
      <span class="label mono">fi-rs-music-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-music"></i>
      <span class="label mono">fi-rs-music</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-network-cloud"></i>
      <span class="label mono">fi-rs-network-cloud</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-network"></i>
      <span class="label mono">fi-rs-network</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-notebook"></i>
      <span class="label mono">fi-rs-notebook</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-opacity"></i>
      <span class="label mono">fi-rs-opacity</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-package"></i>
      <span class="label mono">fi-rs-package</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-paint-brush"></i>
      <span class="label mono">fi-rs-paint-brush</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-palette"></i>
      <span class="label mono">fi-rs-palette</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-paper-plane"></i>
      <span class="label mono">fi-rs-paper-plane</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-password"></i>
      <span class="label mono">fi-rs-password</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-pause"></i>
      <span class="label mono">fi-rs-pause</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-pencil"></i>
      <span class="label mono">fi-rs-pencil</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-pharmacy"></i>
      <span class="label mono">fi-rs-pharmacy</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-physics"></i>
      <span class="label mono">fi-rs-physics</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-picture"></i>
      <span class="label mono">fi-rs-picture</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-ping-pong"></i>
      <span class="label mono">fi-rs-ping-pong</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-play-alt"></i>
      <span class="label mono">fi-rs-play-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-play"></i>
      <span class="label mono">fi-rs-play</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-playing-cards"></i>
      <span class="label mono">fi-rs-playing-cards</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-plus-small"></i>
      <span class="label mono">fi-rs-plus-small</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-plus"></i>
      <span class="label mono">fi-rs-plus</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-poker-chip"></i>
      <span class="label mono">fi-rs-poker-chip</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-portrait"></i>
      <span class="label mono">fi-rs-portrait</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-pound"></i>
      <span class="label mono">fi-rs-pound</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-power"></i>
      <span class="label mono">fi-rs-power</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-presentation"></i>
      <span class="label mono">fi-rs-presentation</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-print"></i>
      <span class="label mono">fi-rs-print</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-protractor"></i>
      <span class="label mono">fi-rs-protractor</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-pulse"></i>
      <span class="label mono">fi-rs-pulse</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-quote-right"></i>
      <span class="label mono">fi-rs-quote-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-rec"></i>
      <span class="label mono">fi-rs-rec</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-receipt"></i>
      <span class="label mono">fi-rs-receipt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-rectangle-horizontal"></i>
      <span class="label mono">fi-rs-rectangle-horizontal</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-rectangle-panoramic"></i>
      <span class="label mono">fi-rs-rectangle-panoramic</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-rectangle-vertical"></i>
      <span class="label mono">fi-rs-rectangle-vertical</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-redo"></i>
      <span class="label mono">fi-rs-redo</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-reflect"></i>
      <span class="label mono">fi-rs-reflect</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-refresh"></i>
      <span class="label mono">fi-rs-refresh</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-resize"></i>
      <span class="label mono">fi-rs-resize</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-resources"></i>
      <span class="label mono">fi-rs-resources</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-rewind"></i>
      <span class="label mono">fi-rs-rewind</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-rocket"></i>
      <span class="label mono">fi-rs-rocket</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-rotate-right"></i>
      <span class="label mono">fi-rs-rotate-right</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-rugby"></i>
      <span class="label mono">fi-rs-rugby</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-scale"></i>
      <span class="label mono">fi-rs-scale</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-school-bus"></i>
      <span class="label mono">fi-rs-school-bus</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-school"></i>
      <span class="label mono">fi-rs-school</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-scissors"></i>
      <span class="label mono">fi-rs-scissors</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-screen"></i>
      <span class="label mono">fi-rs-screen</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-search-alt"></i>
      <span class="label mono">fi-rs-search-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-search"></i>
      <span class="label mono">fi-rs-search</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-settings-sliders"></i>
      <span class="label mono">fi-rs-settings-sliders</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-settings"></i>
      <span class="label mono">fi-rs-settings</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-share"></i>
      <span class="label mono">fi-rs-share</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shield-check"></i>
      <span class="label mono">fi-rs-shield-check</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shield-exclamation"></i>
      <span class="label mono">fi-rs-shield-exclamation</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shield-interrogation"></i>
      <span class="label mono">fi-rs-shield-interrogation</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shield-plus"></i>
      <span class="label mono">fi-rs-shield-plus</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shield"></i>
      <span class="label mono">fi-rs-shield</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shop"></i>
      <span class="label mono">fi-rs-shop</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shopping-bag-add"></i>
      <span class="label mono">fi-rs-shopping-bag-add</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shopping-bag"></i>
      <span class="label mono">fi-rs-shopping-bag</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shopping-cart-add"></i>
      <span class="label mono">fi-rs-shopping-cart-add</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shopping-cart-check"></i>
      <span class="label mono">fi-rs-shopping-cart-check</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shopping-cart"></i>
      <span class="label mono">fi-rs-shopping-cart</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-shuffle"></i>
      <span class="label mono">fi-rs-shuffle</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-sign-in"></i>
      <span class="label mono">fi-rs-sign-in</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-sign-out"></i>
      <span class="label mono">fi-rs-sign-out</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-signal-alt-1"></i>
      <span class="label mono">fi-rs-signal-alt-1</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-signal-alt-2"></i>
      <span class="label mono">fi-rs-signal-alt-2</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-signal-alt"></i>
      <span class="label mono">fi-rs-signal-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-skateboard"></i>
      <span class="label mono">fi-rs-skateboard</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-smartphone"></i>
      <span class="label mono">fi-rs-smartphone</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-soap"></i>
      <span class="label mono">fi-rs-soap</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-spa"></i>
      <span class="label mono">fi-rs-spa</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-speaker"></i>
      <span class="label mono">fi-rs-speaker</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-spinner-alt"></i>
      <span class="label mono">fi-rs-spinner-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-spinner"></i>
      <span class="label mono">fi-rs-spinner</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-square-root"></i>
      <span class="label mono">fi-rs-square-root</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-square"></i>
      <span class="label mono">fi-rs-square</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-star"></i>
      <span class="label mono">fi-rs-star</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-stats"></i>
      <span class="label mono">fi-rs-stats</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-stethoscope"></i>
      <span class="label mono">fi-rs-stethoscope</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-sticker"></i>
      <span class="label mono">fi-rs-sticker</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-stop"></i>
      <span class="label mono">fi-rs-stop</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-stopwatch"></i>
      <span class="label mono">fi-rs-stopwatch</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-subtitles"></i>
      <span class="label mono">fi-rs-subtitles</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-surfing"></i>
      <span class="label mono">fi-rs-surfing</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-sword"></i>
      <span class="label mono">fi-rs-sword</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-syringe"></i>
      <span class="label mono">fi-rs-syringe</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-tablet"></i>
      <span class="label mono">fi-rs-tablet</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-target"></i>
      <span class="label mono">fi-rs-target</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-tennis"></i>
      <span class="label mono">fi-rs-tennis</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-test-tube"></i>
      <span class="label mono">fi-rs-test-tube</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-test"></i>
      <span class="label mono">fi-rs-test</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-text-check"></i>
      <span class="label mono">fi-rs-text-check</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-text"></i>
      <span class="label mono">fi-rs-text</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-thumbs-down"></i>
      <span class="label mono">fi-rs-thumbs-down</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-thumbs-up"></i>
      <span class="label mono">fi-rs-thumbs-up</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-ticket"></i>
      <span class="label mono">fi-rs-ticket</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-add"></i>
      <span class="label mono">fi-rs-time-add</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-check"></i>
      <span class="label mono">fi-rs-time-check</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-delete"></i>
      <span class="label mono">fi-rs-time-delete</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-fast"></i>
      <span class="label mono">fi-rs-time-fast</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-forward-sixty"></i>
      <span class="label mono">fi-rs-time-forward-sixty</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-forward-ten"></i>
      <span class="label mono">fi-rs-time-forward-ten</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-forward"></i>
      <span class="label mono">fi-rs-time-forward</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-half-past"></i>
      <span class="label mono">fi-rs-time-half-past</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-oclock"></i>
      <span class="label mono">fi-rs-time-oclock</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-past"></i>
      <span class="label mono">fi-rs-time-past</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-quarter-past"></i>
      <span class="label mono">fi-rs-time-quarter-past</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-quarter-to"></i>
      <span class="label mono">fi-rs-time-quarter-to</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-time-twenty-four"></i>
      <span class="label mono">fi-rs-time-twenty-four</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-tool-crop"></i>
      <span class="label mono">fi-rs-tool-crop</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-tool-marquee"></i>
      <span class="label mono">fi-rs-tool-marquee</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-tooth"></i>
      <span class="label mono">fi-rs-tooth</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-transform"></i>
      <span class="label mono">fi-rs-transform</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-trash"></i>
      <span class="label mono">fi-rs-trash</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-treatment"></i>
      <span class="label mono">fi-rs-treatment</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-trophy"></i>
      <span class="label mono">fi-rs-trophy</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-umbrella"></i>
      <span class="label mono">fi-rs-umbrella</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-underline"></i>
      <span class="label mono">fi-rs-underline</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-undo"></i>
      <span class="label mono">fi-rs-undo</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-unlock"></i>
      <span class="label mono">fi-rs-unlock</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-upload"></i>
      <span class="label mono">fi-rs-upload</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-usb-drive"></i>
      <span class="label mono">fi-rs-usb-drive</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-user-add"></i>
      <span class="label mono">fi-rs-user-add</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-user-delete"></i>
      <span class="label mono">fi-rs-user-delete</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-user-remove"></i>
      <span class="label mono">fi-rs-user-remove</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-user-time"></i>
      <span class="label mono">fi-rs-user-time</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-user"></i>
      <span class="label mono">fi-rs-user</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-users"></i>
      <span class="label mono">fi-rs-users</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-vector-2"></i>
      <span class="label mono">fi-rs-vector-2</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-vector-alt"></i>
      <span class="label mono">fi-rs-vector-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-video-camera"></i>
      <span class="label mono">fi-rs-video-camera</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-volleyball"></i>
      <span class="label mono">fi-rs-volleyball</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-volume"></i>
      <span class="label mono">fi-rs-volume</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-wifi-alt"></i>
      <span class="label mono">fi-rs-wifi-alt</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-world"></i>
      <span class="label mono">fi-rs-world</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-yen"></i>
      <span class="label mono">fi-rs-yen</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-zoom-in"></i>
      <span class="label mono">fi-rs-zoom-in</span>
    </div>
  </li>


  <li>
    <div class="icon-holder">
      <i class="fi fi-rs-zoom-out"></i>
      <span class="label mono">fi-rs-zoom-out</span>
    </div>
  </li>
</ul>
