<div class="row p-0">

  <div class="mb-0 pb-0 fv-row fv-plugins-icon-container">
    <div class="d-flex gap-5">

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.skuArticle'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.description'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.batch'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.quantity'"
                 [placeholder]="'17/11/2021'">
      </app-input>

    </div>
  </div>

  <div class="mb-0 pb-0 fv-row fv-plugins-icon-container">
    <div class="d-flex gap-5">

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.technicalName'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.unNumber'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.dgClass'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.packingGroup'"
                 [placeholder]="'17/11/2021'">
      </app-input>

    </div>
  </div>

  <div class="mb-0 pb-0 fv-row fv-plugins-icon-container">
    <div class="d-flex gap-5">

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.grossWeight'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.nettWeight'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.length'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-1 mx-0" [label]="'labels.width'"
                 [placeholder]="'17/11/2021'">
      </app-input>

    </div>
  </div>

  <div class="mb-0 pb-0 fv-row fv-plugins-icon-container w-50">
    <div class="d-flex gap-5">

      <app-input class="row d-flex w-100 pt-2 mx-0" [label]="'labels.height'"
                 [placeholder]="'17/11/2021'">
      </app-input>

      <app-input class="row d-flex w-100 pt-2 mx-0" [label]="'labels.palletInformation'"
                 [placeholder]="'17/11/2021'">
      </app-input>

    </div>

<!--    <div class="row gap-5">-->

<!--      <app-input class="row d-flex w-50 pt-1 mx-0" [label]="'labels.modeOfShipment'"-->
<!--                 [placeholder]="'Road'">-->
<!--      </app-input>-->

<!--    </div>-->

    <div class="row p-0 m-0 pt-1">
      <app-button class="col-sm-4 col-xl-3 col-xxl-2 px-0" [name]="'buttons.edit'"
                  [btnColor]="btnColor.blue" [btnPadding]="btnPadding.padding"></app-button>
    </div>

  </div>




</div>
