:host {
  thead {
    .teamName,
    .teamLeader {
      width: 18%;
    }

    .organisation {
      width: 38%;
    }

    .members,
    .maintenance {
      width: 13%;
      text-align: center;
    }
  }
}