:host {
  .navbar-list {
    display: flex;
    align-items: flex-end;
    align-self: stretch;
  }

  .navbar-item.active {
    background-color: #266791;
    color: #fff;
  }

  .navbar-list .navbar-item:hover a{
    color: #fff;
  }
  .navbar-list .navbar-item:hover{
    background-color: #3F9AD5;
  }
  .navbar-list .navbar-item.active{
    background-color: #266791;
    :hover{
      background-color: #266791;
      color: #fff;
    }
    a{
      background-color: #266791;
      color: #fff !important;
    }
  }


  .navbar-item{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
  }
  .first-item{
    border-radius: 5px 0 0 5px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    background: #FFF;
  }
  .middle-item{
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    background: #FFF;
  }
  .last-item{
    border-radius: 0 5px 5px 0;
    border: 1px solid #D9D9D9;
    background: #FFF;
  }

  .navbar-list li a{
    color: #8191A4;
    text-align: center;
    font-family: Inter, 'sans-serif';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

}
