<body>
  <img src="/assets/media/background/background-home.jpg" alt="">
  <div class="main">
  </div>
</body>
<div class="app-container">
  <div class="row g-6 g-xl-9 mb-xxl-6 mb-xl-0 pt-10 mx-xxl-0">
    <div class="col-md-12 col-lg-12 col-xl-12 pt-xxl-10 pb-xxl-0 pt-xl-0 pb-xl-0">
      <h3 class="fs-4hx text-light text-start mb-5 position-relative title ps-4">
        {{ "home.welcome" | translate: { name: name$ | async } }}
      </h3>
    </div>
  </div>
  <div class="row g-6 g-xl-9 mb-0 mb-lg-3 mb-xl-9 mt-xxl-12 mt-xl-0 mx-xxl-0 justify-content-center">
    <app-widget *ngFor="let widget of widgetDataT | slice: 0: 4" [widget]="widget"
                 class="col-md-6 col-lg-6 col-xl-3 col-xxl-3"></app-widget>
  </div>
  <div class="row g-6 g-xl-9 mb-6 mb-xl-9 pt-0 pt-lg-3 mx-xxl-0 justify-content-center">
    <app-widget *ngFor="let widget of widgetDataT | slice: 4: 7" [widget]="widget"
                 class="col-md-6 col-lg-6 col-xl-3 col-xxl-3"></app-widget>
  </div>

<!--  <div class="row g-6 g-xl-9 mb-0 mb-lg-3 mb-xl-9 mt-xxl-12 mt-xl-0 mx-xxl-0 justify-content-center">-->
<!--    <ng-container *ngFor="let widget of widgetDataT; let i = index">-->
<!--      <app-widget [widget]="widget"  class="col-md-6 col-lg-6 col-xl-3 col-xxl-3"></app-widget>-->
<!--    </ng-container>-->
<!--  </div>-->

</div>


<div class="home-custom-button d-block m-0">
  <app-button class="filter-btn" [name]="'buttons.customizeIt'" [popoverClass]="'columns-filter'"
    [btnColor]="btnColor.homeFilter" #popover="ngbPopover" [ngbPopover]="columnsPopover" [autoClose]="false"
    [placement]="'bottom'" [svg]="'assets/media/icons/duotune/general/blue_arrow_down.svg'">
  </app-button>

  <ng-template #columnsPopover>
    <div class="d-flex justify-content-between pb-2">
      <div class="menu-title">{{ "home.widgets" | translate }}</div>
      <span class="svg-icon-white cursor-pointer svg-icon-2 close" (click)="popover.close()"
        [inlineSVG]="'./assets/media/icons/duotune/general/close.svg'">
      </span>
    </div>
    <div class="separator border-gray-200"></div>
    <div>

      <div class="mb-5 mt-2">
        <div class="d-flex flex-wrap">
          <label *ngFor="let n of columns"
            class="form-check form-check-sm form-check-custom form-check-solid option mt-2 w-100">
            <app-checkbox (change)="onChangeWidget($event)" [value]="n.name" [checked]="n.display" [label]="n.name">
            </app-checkbox>
          </label>
        </div>
      </div>

      <div class="row d-flex justify-content-between align-items-center gap-3">
        <app-button class="save-btn w-100" (click)="popover.close(); storeData()" [isFullWidth]="true"
          [btnColor]="btnColor.white" [name]="'buttons.save'">
        </app-button>
        <app-button class="save-btn w-100" (click)="popover.close(); defaultOptions()" [isFullWidth]="true"
          [btnColor]="btnColor.blue" [name]="'buttons.reset'">
        </app-button>
      </div>
    </div>
  </ng-template>

  <div *ngIf="popover.isOpen()" class="overlay" (click)="closePopover()"></div>
</div>
