<!--<app-button (click)="openMenu()" class="filter-btn" [hoverText]="'buttons.filters'" [popoverClass]="'columns-filter'"-->
<!--  #popover="ngbPopover" [ngbPopover]="columnsPopover" [autoClose]="false" [placement]="'left-top'"-->
<!--  [svg]="'assets/media/icons/duotune/general/filter.svg'">-->
<!--</app-button>-->

<!--//Deleted #columnsPopover-->
<label class="toolbar-title-text pt-2" style="color: #266791;">Columns (hide/show)</label>
<div>

  <div class="mb-5 mt-2">
    <div class="d-flex flex-wrap ps-6">
      <div *ngFor="let column of columns"
           class="form-check form-check-sm form-check-custom form-check-solid option mt-2 w-100">
        <app-checkbox class="w-100" (onClick)="selectOnMenu(column.value)" [value]="column.value"
                      [checked]="column.display" [label]="column.name">
        </app-checkbox>
      </div>
    </div>
  </div>

  <!--    <div class="d-flex justify-content-between align-items-center">-->
  <!--      <span class="save-change">-->
  <!--        {{ "buttons.saveChange" | translate }}-->
  <!--      </span>-->

  <!--    </div>-->
</div>
<!--<div *ngIf="popover.isOpen()" class="overlay" (click)="closePopover()"></div>-->

